@model Consultoresvs3.Models.Servicio

@{
    ViewBag.Title = "Servicios";
}

<center><h2 style="font-weight:bold;">CREAR SERVICIO</h2></center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <center><a href="/Servicios" class="btn btn-primary">Regresar</a></center>
</div>

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img1.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img2.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img3.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img4.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
