@model Consultoresvs3.Models.Empresa

@{
    ViewBag.Title = "Empresas";
}

<h2 style="color:#231bef;font-weight:bold;">Detalles</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActividadEconomica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActividadEconomica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRepLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRepLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionRepLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionRepLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreRepSuplente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRepSuplente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionRepSuplente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionRepSuplente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreJuntaDir10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreJuntaDir10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificacionJuntaDir10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificacionJuntaDir10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
