@model Consultoresvs3.Models.ReporteProyecto

@{
    ViewBag.Title = "Reporte Proyectos";
}

<br />
<center><h2 style="font-weight:bold;">ELIMINAR REPORTE DE PROYECTOS</h2></center>

<h3>Estas seguro que quieres eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasInvertidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasInvertidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <center>
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                <a href="/ReporteProyectoes" class="btn btn-primary">Regresar</a>
            </div>
        </center>
    }
</div>

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div>
                <div class="bg-img-1">
                    <center><img src="~/Imagenes/Img2.jpg" class="img-bottom efect-shadow" /></center>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div>
                <div class="bg-img-1">
                    <center><img src="~/Imagenes/Img1.jpg" class="img-bottom efect-shadow" /></center>
                </div>
            </div>
        </div>
    </div>
</div>


