@model Consultoresvs3.Models.ReporteProyecto

@{
    ViewBag.Title = "Reporte Proyectos";
}

<h2>Detalles Reporte Proyecto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasInvertidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasInvertidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
