@model IEnumerable<Consultoresvs3.Models.ReporteProyecto>

@{
    ViewBag.Title = "Reporte Proyectos";
}

<h2 style="font-weight:bold;">Reporte Proyectos</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasInvertidas)
        </th>
        <th>
            Utilidad (Pesos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasInvertidas)
        </td>
        <td>
            <span style="font-weight:bold">$</span>   @Html.DisplayFor(modelItem => item.Utilidad)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

