@model IEnumerable<Consultoresvs3.Models.ReporteProyecto>

@{
    ViewBag.Title = "Reporte Proyectos";
}

<h2 style="color:#231bef;font-weight:bold;">Reporte Proyectos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasInvertidas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasInvertidas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilidad)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Export Excel: ", "ExportExcel");
