@model Consultoresvs3.Models.ReporteUsuario

@{
    ViewBag.Title = "Reporte Usuarios";
}

<br />
<center><h2 style="font-weight:bold">CREAR REPORTE DE EMPLEADOS</h2></center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="FechaReporte">Fecha de Inicio</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaReporte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaReporte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HTrabajadas">Horas Ejecutadas</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HTrabajadas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HTrabajadas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IdServicio">Servicio</label>
            <div class="col-md-10">
                @Html.DropDownList("IdServicio", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdServicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="IdProyecto">Proyecto</label>
            <div class="col-md-10">
                @Html.DropDownList("IdProyecto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdProyecto, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <center>
                <input type="submit" value="Guardar" class="btn btn-default" /> |
                <a href="/ReporteUsuarios" class="btn btn-primary">Regresar</a>
            </center>              
        </div>
    </div>
}


<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div class="div-bottom">
                <div class="bg-img-1">
                    <center><img src="~/Imagenes/Img3.png" class="img-bottom" /></center>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-3 col-md-3 col-xs-6 col-sm-3">
            <div class="div-bottom">
                <div class="bg-img-1">
                    <center><img src="~/Imagenes/Img2.png" class="img-bottom" /></center>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
