@model Consultoresvs3.Models.ReporteUsuario

@{
    ViewBag.Title = "Reporte Usuarios";
}

<h2 style="font-weight:bold;">Eliminar Reporte Usuario</h2>

<h3>Estas seguro que quieres eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Proyecto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.Nombre)
        </dd>

        <dt>
            Nombre Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTrabajadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTrabajadas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
