@model Consultoresvs3.Models.ReporteUsuario

@{
    ViewBag.Title = "Reporte Usuarios";
}

<h2>Detalles Reporte Usuario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.Nombre)
        </dd>

        <dt>
           Nombre Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTrabajadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTrabajadas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
