@model IEnumerable<Consultoresvs3.Models.ReporteUsuario>

@{
    ViewBag.Title = "Reporte Usuarios";
}

<h2 style="color:#231bef;font-weight:bold;">Reporte Usuarios</h2>

@if (User.IsInRole("ADMIN"))
{
}
else
{<p>
    @Html.ActionLink("Agregar Reporte", "Create")
</p> }



<br />
<form id="f">
    <div class="row">

        <!--Filtro Proyecto--> 

        <label class="control-label col-md-2" for="ProyectosUsuario">Proyectos</label>
        <div class="col-md-2">
            @Html.DropDownList("idProyecto", null, htmlAttributes: new { @class = "form-control" })
        </div>
        @if (User.IsInRole("ADMIN"))
        {
            <div class="col-md-2">
                <a class="btn btn-primary proyect" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoAdm/")">Buscar</a>
            </div>
        }
        else
        {
            <div class="col-md-2">
                <a class="btn btn-primary proyect" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoEmp/")">Buscar</a>
            </div>
        }

        <!--Filtro Empresa--> 
        @if (User.IsInRole("ADMIN"))
        {
            <label class="control-label col-md-2" for="ProyectosUsuario">Servicios</label>
            <div class="col-md-2">
                @Html.DropDownList("idServicio", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary proyect" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoAdm/")">Buscar</a>
            </div>
        }
    </div>   

    <br />

    <div class="row">
        <!--filtro para la fecha-->
        <label class="control-label col-md-2">Fecha</label>
        <form id="date">
            <div class="col-md-4">
                <select id="mes" name="Mes">
                    <option value="0">-</option>
                    <option value="1">01-ENERO</option>
                    <option value="2">02-FEBRERO</option>
                    <option value="3">03-MARZO</option>
                    <option value="4">04-ABRIL</option>
                    <option value="5">05-MAYO</option>
                    <option value="6">06-JUNIO</option>
                    <option value="7">07-JULIO</option>
                    <option value="8">08-AGOSTO</option>
                    <option value="9">09-SEPTIEMBRE</option>
                    <option value="10">10-OCTUBRE</option>
                    <option value="11">11-NOVIEMBRE</option>
                    <option value="12">12-DICIEMBRE</option>
                </select>
                <!-- <input type="text" id="mes"/>-->
                <input type="text" id="año" />
            </div>
            @if (User.IsInRole("ADMIN"))
            {
                <div class="col-md-2">
                    <a class="btn btn-primary fecha" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteUFechaAdm/")">Buscar</a>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <a class="btn btn-primary fecha" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteUFechaEmp/")">Buscar</a>
                </div>
            }
        </form>
       
    </div> 

    <br />
    
    <!--Filtro Empleado--> 
    @if (User.IsInRole("ADMIN"))
    {
        <div class="row">
            <label class="control-label col-md-2" for="ProyectosUsuario">Empleados</label>
            <div class="col-md-2">
                @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="col-md-2">
                <a class="btn btn-primary proyect" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoAdm/")">Buscar</a>
            </div>
        </div>
    }
</form>

<br /><br />

<table class="table" id="filtro">
    <tr>
        <th>
            Proyecto
        </th>
        @if (User.IsInRole("ADMIN"))
        {
            <th>
                Usuario
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Servicio.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaReporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTrabajadas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
        </td>
        @if (User.IsInRole("ADMIN"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaReporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTrabajadas)
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

@section scripts {
    <script>
           $(document).ready(function () {
                    $('.proyect').click(function () {
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: $('#f').serialize()
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                            }).fail(function () {
                                alert("error");
                         });
            });
               //filtro por fecha
                    $('.fecha').click(function () {
                        var mes = $('#mes').val();
                        var año = $('#año').val();
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: { mes: mes, año: año }
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                            }).fail(function () {
                                alert("error");
                            });
                    });
            });
    </script>
}