@model IEnumerable<Consultoresvs3.Models.ReporteUsuario>

@{
    ViewBag.Title = "Reporte Usuarios";
}

<h2>Reporte Usuarios</h2>

<p>
    @Html.ActionLink("Agregar Reporte", "Create")
</p>


<br /><br /><br />
<form id="f">
    <div class="form-group">
        <label class="control-label col-md-2" for="ProyectosUsuario">Servicio</label>
        <div class="col-md-10">
            @Html.DropDownList("idProyecto", null, htmlAttributes: new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <a class="btn btn-primary" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoEmp/")">Consultar Proyecto Empleado</a>
    </div>
</form>

<div class="form-group">
    <a class="btn btn-primary" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoAdm/")">Consultar Proyecto Admin</a>
</div>
<div class="form-group">
    <a class="btn btn-primary" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteUFechaEmp/")">Consultar Reporte U Fecha Empleado</a>
</div>
<div class="form-group">
    <a class="btn btn-primary" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteUFechaAdm/")">Consultar Reporte U Fecha Admin</a>
</div>
<div class="form-group">
    <a class="btn btn-primary" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteServicioEmp/")">Consultar Reporte T Servicio Empleado</a>
</div>
<table class="table" id="filtro">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaReporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTrabajadas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaReporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTrabajadas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

@section scripts {
    <script>
        $('body').on('click', '[data-url]', function () {
           $.ajax({
               method: 'POST',
               url: $(this).data('url'),
               data:$('#f').serialize()
           })
           .done(function (data) {
               $('#filtro').hide();
               $('#filtro').html(data);
               $('#filtro').show('fast');
               }).fail(function () {
                   alert("error");
               });
       })
    </script>
}