@model IEnumerable<Consultoresvs3.Models.ReporteUsuario>

@{
    ViewBag.Title = "Reporte Usuarios";
}

<center><h2 style="font-weight:bold;">REPORTE DE EMPLEADOS</h2></center>
<br />

@if (User.IsInRole("ADMIN"))
{
}
else
{
    <div>
        <a href="/ReporteUsuarios/Create" class="btn btn-primary">Agregar reporte</a>
    </div>
    <br />
}

<!--menu filtros de busqueda-->
@if (User.IsInRole("ADMIN"))
{
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:25px;margin-top:8%" class="control-label">Filtrar por</label>
        </div>
        <div class="col-md-2" style="margin-top:2%;">
            <select id="filtrosAdm">
                <option value="1">Empleado</option>
                <option value="2">Empresa</option>
                <option value="3">Fecha</option>
                <option value="4">Proyecto</option>
                <option value="5">Entre Fechas</option>
            </select>
        </div>
        <div class="col-md-2" style="margin-top:1%;">
            <a class="btn btn-primary" onclick="FiltrosAdmin()">Filtrar</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-2">
            <label style="font-size:25px;margin-top:8%" class="control-label">Filtrar por</label>
        </div>
        <div class="col-md-2" style="margin-top:2%;">
            <select id="filtrosEmp">
                <option value="1">Fecha</option>
                <option value="2">Proyecto</option>
                <option value="3">entre fechas</option>
            </select>
        </div>
        <div class="col-md-2" style="margin-top:1%;">
            <a class="btn btn-primary" style="margin-top:1%;" onclick="FiltrosEmp()">Filtrar</a>
        </div>
    </div>
}

<br />
<form id="f" style='display:none'>
    <div class="row">
        <!--Filtro Proyecto--> 

        <label style="font-size:25px" class="control-label col-lg-2" for="ProyectosUsuario">Proyectos</label>
        <div class="col-lg-2">
            @Html.DropDownList("idProyecto", null, htmlAttributes: new { @class = "form-control" })
        </div>
        @if (User.IsInRole("ADMIN"))
        {
            <div class="col-lg-2">
                <div class="form-group">
                    <a class="btn btn-primary proyect" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoAdm/")">Buscar</a>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-2">
                <div class="form-group">
                    <a class="btn btn-primary proyect" data-url="@Url.Content("/ReporteUsuarios/FiltroProyectoEmp/")">Buscar</a>
                </div>
            </div>
        }
    </div>   
</form>
<!--ENTRE FECHAS-->
<form id="entre" style='display:none'>
    <div class="row">
        <!--Filtro entre fechas-->

        <label style="font-size:25px" class="control-label col-lg-2" for="ProyectosUsuario">Entre Fechas</label>
        <div class="col-lg-2">
            <input type="date" id="anio1"/>
        </div>
        <div class="col-lg-2">
            <input type="date" id="anio2" />
        </div>
        @if (User.IsInRole("ADMIN"))
        {
            <div class="col-lg-2">
                <div class="form-group">
                    <a class="btn btn-primary entref" data-url="@Url.Content("/ReporteUsuarios/FiltroentreFechasAdm/")">Buscar</a>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-2">
                <div class="form-group">
                    <a class="btn btn-primary entref" data-url="@Url.Content("/ReporteUsuarios/FiltroentreFechasEmp/")">Buscar</a>
                </div>
            </div>
        }
    </div>
</form>
<!--FIN ENTRE FECHAS-->
@if (User.IsInRole("ADMIN"))
{
    <form id="emp" style='display:none'>
        <div class="row">
            <label style="font-size:25px" class="control-label col-lg-2" for="ProyectosUsuario">Empresas</label>       
            <div class="col-lg-2">
                @Html.DropDownList("idEmpresa", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-2">
                <a class="btn btn-primary empB" data-url="@Url.Content("/ReporteUsuarios/FiltroEmpresaAdm/")">Buscar</a>
            </div>         
        </div>
    </form>
    <br />
}

    <div class="row" id="date" style='display:none'>
        <!--filtro para la fecha-->
        <div class="col-lg-2">
            <label style="font-size:25px;margin-top:-5%" class="control-label">Fecha</label>
        </div>
        <div class="col-lg-2">
            <form id="date">
                <select id="mes" name="Mes">
                    <option value="1">01-ENERO</option>
                    <option value="2">02-FEBRERO</option>
                    <option value="3">03-MARZO</option>
                    <option value="4">04-ABRIL</option>
                    <option value="5">05-MAYO</option>
                    <option value="6">06-JUNIO</option>
                    <option value="7">07-JULIO</option>
                    <option value="8">08-AGOSTO</option>
                    <option value="9">09-SEPTIEMBRE</option>
                    <option value="10">10-OCTUBRE</option>
                    <option value="11">11-NOVIEMBRE</option>
                    <option value="12">12-DICIEMBRE</option>
                </select>
                <!-- <input type="text" id="mes"/>-->
                <!--<input type="text" id="año" />-->
                <select id="año"></select><br />
            </form>
        </div>   
       @if (User.IsInRole("ADMIN"))
            {
        <div class="col-lg-2" id="fechaAdm">
            <a class="btn btn-primary fecha" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteUFechaAdm/")">Buscar</a>
        </div>
       }
       else
       {
        <div class="col-lg-2">
            <a class="btn btn-primary fecha" data-url="@Url.Content("/ReporteUsuarios/FiltroReporteUFechaEmp/")">Buscar</a>
        </div>
       }
    </div> 

    <br />
    
    <!--Filtro Empleado--> 
    @if (User.IsInRole("ADMIN"))
    {
        <form id="form-employes" style='display:none;margin-top:-3%'>
            <div class="row">
                <label style="font-size:25px" class="control-label col-lg-2" for="ProyectosUsuario">Empleados</label>
                <div class="col-lg-2">
                    @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-lg-2">
                    <a class="btn btn-primary Bemployes" data-url="@Url.Content("/ReporteUsuarios/FiltroEmpleadoAdm/")">Buscar</a>
                </div>
            </div>
        </form>
        <br />
    }




<!--TABLA DONDE SE GENERAN LOS REPORTES-->
<div class="table-responsive">
    <table class="table inicial" id="filtro">
        <tr>
            <th>
                Proyecto
            </th>
            @if (User.IsInRole("ADMIN"))
            {
                <th>
                    Empleado
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Servicio.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTrabajadas)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Proyecto.Nombre)
                </td>
                @if (User.IsInRole("ADMIN"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Servicio.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReporte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTrabajadas)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <center><a class="btn btn-danger" id="deshacer" style="display:none" href="~/ReporteUsuarios">Deshacer búsqueda</a></center>
</div>

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img1.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img2.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img3.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
            <div class="bg-img-1">
                <center><img src="~/Imagenes/Img4.png" style="height:250px;width:100%;" /></center>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
           $(document).ready(function () {
                    $('.proyect').click(function () {
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: $('#f').serialize()
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                                $('#deshacer').show('fast');
                            }).fail(function () {
                                alert("error");
                         });
            });
               //filtro por fecha
                    $('.fecha').click(function () {
                        var mes = $('#mes').val();
                        var año = $('#año').val();
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: { mes: mes, año: año }
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                                $('#deshacer').show('fast');
                            }).fail(function () {
                                alert("error");
                            });
                    });

               //filtro entre fechas
                    $('.entref').click(function () {
                        var fecha1 = $('#anio1').val();
                        var fecha2 = $('#anio2').val();
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: { fecha1: fecha1, fecha2: fecha2 }
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                                $('#deshacer').show('fast');
                            }).fail(function () {
                                alert("error");
                            });
                    });
               //filtro por empresa
                    $('.empB').click(function () {
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: $('#emp').serialize()
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                                $('#deshacer').show('fast');
                            }).fail(function () {
                                alert("error");
                            });
                    });


                    //filtro por empresa
                    $('.Bemployes').click(function () {
                        $.ajax({
                            method: 'POST',
                            url: $(this).data('url'),
                            data: $('#form-employes').serialize()
                        })
                            .done(function (data) {
                                $('#filtro').hide();
                                $('#filtro').html(data);
                                $('#filtro').show('fast');
                                $('#deshacer').show('fast');
                            }).fail(function () {
                                alert("error");
                            });
                    });
            });
    </script>

    <script>
        function listyears() {
            var anios = document.getElementById("año");
            var fecha = new Date();
            year = fecha.getFullYear();
            var listyear = [];
            for (var i = 2000; i <= year; ++i) {
                listyear.unshift(i);
            }
            for (var j = 0; j < listyear.length; ++j) {
                anios.options[j] = new Option(listyear[j], listyear[j]);
            }
        }
    </script>

    <script>
        function FiltrosAdmin() {
            var indice = document.getElementById("filtrosAdm").value;
            var empleado = document.getElementById("form-employes");
            var empresa = document.getElementById("emp");
            var entre = document.getElementById("entre");
            var fecha = document.getElementById("date");
            var proyecto = document.getElementById("f");
            if (indice == 1) {
                empleado.style.display = 'block';
                empresa.style.display = 'none';
                fecha.style.display = 'none';
                proyecto.style.display = 'none';
                entre.style.display = 'none';
            }
            if (indice == 2) {
                empresa.style.display = 'block';
                empleado.style.display = 'none';
                fecha.style.display = 'none';
                proyecto.style.display = 'none';
                entre.style.display = 'none';
            }
            if (indice == 3) {
                listyears();
                fecha.style.display = 'block';
                empleado.style.display = 'none';
                empresa.style.display = 'none';
                proyecto.style.display = 'none';
                entre.style.display = 'none';
            }
            if (indice == 4) {
                proyecto.style.display = 'block';
                empleado.style.display = 'none';
                empresa.style.display = 'none';
                fecha.style.display = 'none';
                entre.style.display = 'none';
            }
            if (indice == 5) {
                entre.style.display = 'block';
                proyecto.style.display = 'none';
                empleado.style.display = 'none';
                empresa.style.display = 'none';
                fecha.style.display = 'none';
            }
        }
        </script>

    <script>
        function FiltrosEmp() {
            var indice = document.getElementById("filtrosEmp").value;
            var fecha = document.getElementById("date");
            var proyecto = document.getElementById("f");
            var fe = document.getElementById("entre");
            if (indice == 1) {
                listyears();
                fecha.style.display = 'block';
                proyecto.style.display = 'none';
                fe.style.display = 'none';
            }
            if (indice == 2) {
                proyecto.style.display = 'block';
                fecha.style.display = 'none';
                fe.style.display = 'none';
            }
            if (indice == 3) {
                proyecto.style.display = 'none';
                fecha.style.display = 'none';
                fe.style.display = 'block';
            }
        }
    </script>
}